@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
main {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../img/fundo-madeira.jpg);
    background-position: center;
    background-size: cover;
}
#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    background-image: url("../img/frame-iphone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#redes-sociais {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
#redes-sociais img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px;
    transition: all 0.2s ease-in-out;
}
#redes-sociais img:hover {
    transform: scale3d(1.2, 1.2, 1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#redes-sociais img:active {
    transform: scale(1.0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease-in-out;
}#redes-sociais a {
    z-index: 1;
    margin-right: 2vw;
}
#tela {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 87%;
    height: 76%;
}
